<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title><%=blocks.title%></title>

    <script src="/public/js/app.js" defer></script>
    <link rel="stylesheet" href="/public/css/app-compiled.css">

</head>
<body class="w-full">
    
    <header class="">
    </header>

    <%-body -%>

    <footer>
    </footer>

    <script type="text/javascript" src="{{ URL::asset('js/app.js') }}"></script>
</body>
</html>