<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title><%=blocks.title%></title>

    <script src="/public/js/app.js" defer></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <link rel="stylesheet" href="/public/css/app-compiled.css">

</head>
<body class="w-full">

    <script>
        window.addEventListener('scroll', () => {
            const header = document.querySelector('header');
            header.classList.toggle('glass-effect', window.scrollY > 300);
        })
    </script>
    
    <header class="flex justify-around z-20 p-4 text-black sticky top-0 items-center bg-[#F8FAF9] transition-all ">
        <a href="/" class="font-cormorant md:text-3xl text-lg">Rodrigo Casanova</a>

        <ul class="flex gap-10 text-lg">
            <li>
                <a href="/blog" class=" after:bg-red-800 after:h-1 after:w-full after:absolute after:-bottom-1 after:left-0 relative hover:after:-bottom-2 after:transition-all transition-all md:text-xl text-sm">My Blog</a>
            </li>
            <li>
                <% if(user) { -%>
                    <a href="<% if(user.email == 'rodrigocralha@gmail.com') { -%>/makepost<% } else { -%>/#<% } -%>" class=" after:bg-red-800 after:h-1 after:w-full after:absolute after:-bottom-1 after:left-0 relative hover:after:-bottom-2 after:transition-all transition-all md:text-xl text-sm"><%= user.name %></a>
                <% } else { -%>
                    <a href="/login" class=" after:bg-red-800 after:h-1 after:w-full after:absolute after:-bottom-1 after:left-0 relative hover:after:-bottom-2 after:transition-all transition-all md:text-xl text-sm">Login</a>
                <% } -%>
            </li>
        </ul>
    </header>

    <%-body -%>

    <footer>
    </footer>

    <script type="text/javascript" src="{{ URL::asset('js/app.js') }}"></script>
</body>
</html>