<% layout('/layout/main')%> 
<% block('title', 'Login')%>


<form action="/auth/login" method="post" class="flex flex-col max-w-[1024px] gap-5 m-auto w-fit p-10 py-[20vh]" onsubmit="(e) => {e.preventDefault()}">

    <h1 class="font-cormorant">Login</h1>

    <div class="flex flex-col">
        <label for="username" class="text-lg font-poppins">Email</label>
        <input type="email" name="username" class="outline-none px-2 text-lg py-1 almost-white w-96 font-poppins shadow-sm" />
    </div>
  
    <div class="flex flex-col">
        <label for="password" class="text-lg font-poppins">Password</label>
        <input type="password" name="password" class="outline-none px-2 text-lg py-1 almost-white text-black font-poppins shadow-sm"/>
    </div>
  
    <div class="flex gap-5 py-4 text-lg justify-between items-center">
        <a href="/register" class="text-sm hover:underline text-center">Create an account</a>

        <div class="flex justify-between gap-5 flex-row-reverse">
            <button type="submit" class="bg-red-800 hover:bg-red-900 hover:shadow-xl text-white font-semibold py-1 px-2 shadow-lg">Submit</button>
            <button type="cancel" class="bg-gray-400 hover:bg-gray-500 hover:shadow-xl text-white font-semibold py-1 px-2 shadow-lg">Cancel</button>
        </div>
    </div>

    
</form>

