<% layout('/layout/main')%> 
<% block('title', post.title)%>

<div class="max-w-[1024px] m-auto">
    <img src="/public/<%= post.image %>" alt="<%= post.title %>" class="h-[30vh] object-cover w-full">
    <article class="px-20 py-4 bg-white">
        <h1 class="font-semibold font-cormorant text-7xl"><%= post.title %></h1>
        <p class="text-gray-800"><%= post.content %></p>
    </article>
</div>