<% layout('/layout/main')%> 
<% block('title', 'Register')%>


<form action="/auth/register" method="post" class="flex flex-col max-w-[1024px] gap-5 m-auto w-fit p-10 py-[20vh]" onsubmit="(e) => {e.preventDefault()}">

    <h1 class="font-cormorant text-5xl border-b-2 border-dashed border-black pb-4">Register Account</h1>

    <div class="flex flex-col">
        <label for="name" class="text-lg font-poppins">Name</label>
        <input type="text" name="name" class="outline-none px-2 text-lg py-1 almost-white text-black font-poppins shadow-sm"/>
    </div>

    <div class="flex flex-col">
        <label for="username" class="text-lg font-poppins">Email</label>
        <input type="email" name="username" class="outline-none px-2 text-lg py-1 almost-white w-96 font-poppins shadow-sm" />
    </div>
  
    <div class="flex flex-col">
        <label for="password" class="text-lg font-poppins">Password</label>
        <input type="password" name="password" class="outline-none px-2 text-lg py-1 almost-white text-black font-poppins shadow-sm"/>
    </div>

    <div class="flex justify-center gap-5 self-end flex-row-reverse py-4">
        <button type="submit" class="bg-red-800 hover:bg-red-900 hover:shadow-xl text-white font-semibold py-1 px-2 shadow-lg text-lg">Submit</button>
        <a href="/login" class="bg-gray-400 hover:bg-gray-500 hover:shadow-xl text-white font-semibold py-1 px-2 shadow-lg text-lg">Cancel</a>
    </div>

    
</form>